<article>
  <h1>$title$</h1>
  <div class="taxonomies-wrapper">
    $for(years)$
      <a class="taxonomy" href="/archive.html#$year$">
        <span>$year$</span>
        <span class="taxonomy-count">$year-count$</span>
      </a>
    $endfor$
  </div>
  $for(years)$
    <h2 id="$year$">$year$</h2>
    <ul class="post-list-by-taxonomy">
      $for(posts)$
        <li>
          <time>$date$</time>
          <a href="$url$">$title$</a>
        </li>
      $endfor$
    </ul>
  $endfor$
</article>
