<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="sidebar">
      <div id="sidebar-top-container">
        <div id="sidebar-top">
          <header id="site-header">
            <p id="site-title">
              Marc-André<br>
              Brochu
            </p>
          </header>
          <nav id="site-nav">
            <ul>
              <li><a href="/">Accueil</a></li>
              <li><a href="/archive.html">Articles</a></li>
              <li><a href="/tags.html">Tags</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <footer id="site-footer">
        <div id="social-icons">
          <a class="social-icon" href="https://github.com/marcandrebrochu" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
              $snippet("snippets/github.svg")$
            </svg>
          </a>
          <a class="social-icon" href="mailto:marcandrebrochu@fastmail.com" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
              $snippet("snippets/mail.svg")$
            </svg>
          </a>
        </div>
        <div id="text">
          <p>
            <small>
              Fièrement propulsé par
              <a href="http://jaspervdj.be/hakyll" target="_blank">Hakyll</a>
            </small>
          </p>
          <p>
            <small>
              Design par
              <a href="https://studionuancia.com" target="_blank">Studio Nuancia</a>
            </small>
          </p>
        </div>
      </footer>
    </div>
    <div id="main-content">
      <div id="banner"/>
      <main>
        $body$
      </main>
    </div>
  </body>
</html>
