<article>
  <header>
    <h1 class="post-title">$title$</h1>
    <div class="post-meta">
      <time class="post-date">$date$</time>
      $if(tags)$
        <div class="post-tags">
          <svg class="post-tags-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            $snippet("snippets/tag.svg")$
          </svg>
          <ul class="post-tags-list">
            $for(tags)$
              <li><a class="post-tag" href="/tags.html#$tag$">$tag$</a></li>
            $endfor$
          </ul>
        </div>
      $endif$
    </div>
  </header>
  <section>
    $body$
  </section>
</article>
